
.container{
    padding: 15px ;
}
.mm_header-top{
    width: 100vw;
    height: 40px;
    position: relative;
    border-bottom: 1px solid rgb(174, 183, 190);
}
a{
    text-decoration: none;
}
.mm_header_logo{
    float: left;
    width: 313px;
    height: 70px;
    padding: 5px 0px;
}
.mm_header_logo_mymedi{
    font-size: 20px;
    width: 216px;
    height: 45px;
    color: red;
}
.mm_header_search_L{
    float: left;
    width: 100%;
    padding: 10px 0px;    
    position: relative;

}
.mm_header_search{
    border-radius: 25px;
    padding: 7px;
    background-color: #F0F2F5;
}
.search-content{
    float: left;
    width: 100%;
    position: absolute;
}
.search-content > input{
    background: rgba(240,242,245,1);
    color: rgba(91,108,143,1);
    filter: none !important;
    border-width: 0;
    background: #F0F2F5;
    border-radius: 60px;
    padding: 10px 25px;
    line-height: 26px;
    text-align: left;
    width: 100%;
    box-shadow: none;
}
.search-button {
    position: absolute;
    float: left;
    right: 0px;
    padding: 9px;
    z-index: 100;
}
.search-button > button{
    border: 0px;
    background: #F0F2F5;
    color: rgba(16,49,120,1);
}
input:hover, input:focus {
    outline: none !important;
}
.mm_header_search_icon{
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}
#s-726{
    width: 450px;
    height: 30px;
    border: 0ch;
    background-color: #F0F2F5;
}
.mm_header_right{
    height: 70px;
}
.mm_header_right_menu{
    padding:  0px 20px 0px 0px;
    width: 30%;
    float: left;
    height: 44px;
}
.mm_header_right_menu_contai_english{
    float: left;
    list-style: none;
    width: 30%;
    position: relative;
}
.menu_contai_english{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 1px 3px 5px 0px
}
.mm_header_right_menu_contai_english:hover .menu_contai_english{
    display: block;
    width: 85px;
    padding-left: 0px;
}
.mm_header_right_menu_contai_use:hover .menu_contai_english{
    display: block;
    width: 85px;
    padding-left: 0px;
}
.mm_header_right_menu_contai_english:hover p{
    color: #FF9923;
}
.menu_contai_english:hover a{
    color: #FF9923;
}
p{
    margin: 12px 0 14px;
}
.mm_header_right_menu_user{
    float: left;
    width: 33%;
    padding: 10px 10px 0px 11px;
}
.mm_header_right_menu_love{
    float: left;
    width: 33%;
    padding: 10px 10px 0px 5px;
}
.mm_header_right_menu_cart{
    float: left;
    width: 33%;
    padding: 10px 10px 0px 5px;
}
.mm_header_right_menu_contai_use{
    padding-left: 20px;
    position: relative;
}
.header_menu_home{
    display: inline-block;
    width: 948px;
    height: 25px;
    padding-left: 0px;
    margin-bottom: 0px;
}
.fa-bars{
    margin-right: 10px;
}
.header_menu_home_child_Products{
    width: 100px;
    float: left;
    list-style: none;
    font-size: 17px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    color: #103178;
    margin-right: 25px;
}
.header_menu_home_child_HMS{
     width: 180px;
    float: left;
    list-style: none;
    font-size: 17px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    color: #103178;
    margin-right: 25px;
}
.header_menu_home_child_Homepages{
     width: 100px;
    float: left;
    list-style: none;
    font-size: 17px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    color: #103178;
    margin-right: 25px;
}
.header_menu_home_child_Shop{
     width: 38px;
    float: left;
    list-style: none;
    font-size: 17px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    color: #103178;
    margin-right: 25px;
}
.header_menu_home_child_Pages{
     width: 60px;
    float: left;
    list-style: none;
    font-size: 17px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    color: #103178;
    margin-right: 25px;
}
.header_menu_home_child_Collection{
     width: 90px;
    float: left;
    list-style: none;
    font-size: 17px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    color: #103178;
    margin-right: 25px;
}
.header_menu_home_child_Blog{
     width: 33px;
    float: left;
    list-style: none;
    font-size: 17px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    color: #103178;
    margin-right: 25px;
}
.header_menu_home_child_Contact{
     width: 55px;
    float: left;
    list-style: none;
    font-size: 17px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    color: #103178;
    margin-right: 25px;
}
.header_menu_need{
    width: 292px;
    float: right;
    color: #5B6C8F;
    font-size: 16px;
    font-family: Jost;
    font-weight: 500;
}
.img_show{
    width: 1500px;
    height: 600px;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
	text-align: center;
}